<h1>Edit your profile</h1>

<form action="/edit" method="post">
  {{#currentUser}}
  <input name="displayname" type="text" class="form-control" placeholder="Display name" value="{{name}}">
  <textarea name="bio" class="form-control" placeholder="Tell us about yourself!">{{bio}}</textarea>
  <input type="submit" value="Update" class="btn btn-primary btn-block">
  {{/currentUser}}
</form>
